run = "python3 main.py"

[unitTest]
language = "python3"

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 45471723
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

